*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: white;
}

.contenedor{
    height: 100vh;
    color:white;
    display: grid;
    grid-template-areas:
    'nav nav nav'
    'sidebar main main'
    'sidebar footer footer';
    grid-gap: .6rem;
    /* text-align: center; */
    font-size: 2rem;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-rows: 0fr 2.5fr 1.5fr 0.8fr;
}

/*boton flotante*/
.boton-flotante{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.boton-flotante-a{
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.boton-flotante-a:hover{
    background-color: #0056b3;
    transform: translateY(-3px);
}
/*boton flotante*/

/*header*/
.header{
    width: 100%;
    height: 30vh;
    background-image:url(imagenes/banner2.jpg);
    background-color: rgb(16,19,38);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    border: 3px solid black;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
}

.header .tittle{
    margin-top: 5%;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    filter: brightness(1.5);
}

.nav{
    margin-top: 4%;
    grid-area: nav;
    text-align: right;
    text-orientation: sideways;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: 25px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: gray;
}

.nav-link:hover{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
/*header*/

.banner{
    background-color: rgb(5, 5, 7);
    text-align: center;
}

.main{
    grid-area: main;
    padding: 40px;
}

.main h1{
    color: black;
    text-align: center;
}

.main h3{
    color: black;
    text-align: center;
}

.main h5{
    color: black;
}

.main .texto{
    font-size: 25px;
    color: black;
    text-align: justify;
}

.main label{
    font-size: 20px;
}

.main input{
    font-size: 20px;
    color: gray;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
}

/*menú*/
.sidebar{
    grid-area: sidebar;
    background-color: rgb(16,19,38);
    border: 2px solid rgb(16,19,38);
    border-radius: 0px 15px 0px 0px;
    padding: 50px;
    list-style: none;
    width: 100%;
}

.sidebar a{
    text-decoration: none;
    font-size: 20px;
    text-align:justify;
    color: white;
}

.sidebar li{
    list-style: none;
}
/*fin menú*/

/* cards productos */

.cont1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
}

.cont2{
    box-shadow: 0 5px 10px red;
    border-radius: 8px;
    text-align: center;
    background: rgb(255, 201, 102);
    padding: 30px 20px;
}

.cont2 table{
    margin-left: auto;
    margin-right: auto;
}

.cont1 img{
    height: 200px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 5px 10px black;
}

.cont1 h3{
    padding: 10px;
    font-size: 22px;
    text-align: left;
}

.cont1 p{
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
}

.cont2 a{
    font-size: 15px;
}

.cont2 td{
    text-align: right;
    padding: 5px;
}

.btn-blue{
    margin-top: 50px;
    display: inline-block;
    background: rgb(13, 110, 253);
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 25px;
    color: white;
}

.btn-red{
    margin-top: 50px;
    display: inline-block;
    background: rgb(220, 53, 69);
    font-size: 15px;
    border-radius: 8px;
    padding: 8px 25px;
    color: white
}

.cont2:hover{
    box-shadow: 0 10px 15px black;
    transform: scale(1.03);
}

.cont2 .btn:hover{
    letter-spacing: 2px;
    background: rgb(255, 56, 56);
}

/* fin cards */

/* tabla Tiendas */

.table-t tr td{
    border-bottom: 1px solid black;
    height: 25px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    padding: 12px;
}

.table-t tr th{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
}


/* fin tabla Tiendas */

/*footer*/
footer{
    grid-area: footer;
    background-color: orange;
    padding: 70px;
}

footer p{
    text-align: center;
    font-size: 15px;
}

footer a{
    text-align: center;
    font-size: 15px;
    color: white;
}

footer img.redes{
    width: 18px;
    align-items: center;
}
/*fin footer*/

/* móvil */
@media (max-width: 400px) {
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 0fr .5fr 1.2fr .5fr 1fr .5fr;
        grid-template-areas: 'nav' 'sidebar' 'main' 'box1' 'box2' 'footer';
    }

    .header{
        width: 100%;
        height: 40vh;
        background-position:bottom;
        border: 2px solid black;
    }

    .header .tittle{
        color: white;
        font-size: 40px;
    }

    .nav{
        grid-area: nav;
        text-align: center;
    }

    .nav-link{
        font-size: 15px;
    }

    .main{
        padding: 30px;
    }

    .sidebar{
        grid-area: sidebar;
        border: 2px solid rgb(16,19,1);
        border-radius: 0px 0px 15px 15px;
    }
  }

/* tablet */
@media (min-width: 400px) and (max-width: 800px) {
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr .5fr 1.2fr .5fr .5fr;
        grid-template-areas: 'nav nav' 'sidebar sidebar' 'main main' 'box1 box2' 'footer footer';
    }

    .header{
        width: 100%;
        height: 35vh;
        background-position:bottom;
        border: 2px solid black;
    }

    .header .tittle{
        color: white;
        font-size: 35px;
    }

    .nav{
        grid-area: nav;
        text-align: center;
    }

    .main{
        padding: 30px;
    }

    .sidebar{
        grid-area: sidebar;
        border: 2px solid rgb(16,19,1);
        border-radius: 0px 0px 15px 15px;
    }

    footer{
        height: 100%;
    }

    footer p{
        text-align: center;
        font-size: 10px;
    }

  }